{% block navbar %}
<nav class="navbar sticky-top justify-content-start p-3 bg-dark gap-2">
<a href="{{path("accueil")}}" class="nav-link text-white fs-4 pe-2">Symfony</a>
<a href="{{path("personnages")}}" class="nav-link text-muted fs-5">Personnages</a>
</nav>
{% endblock %}